*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: sans-serif;
    background-color: #0E8388;
    
}


.companyName{
    display:flex;
    justify-content: left;
    align-items: center;
    margin-left:10rem;
    font-size:6.4rem;
    font-family: OCRA;
    color: #CBE4DE
}

header{
    width: 100vw;
    height: 15rem;
    background-color: #2E4F4F;
}

header > .box-wrapper-logo{
    display:flex;
    justify-content: right; 
}

header > .box-wrapper-logo > .logo{
    display:flex;
    width:30rem;
    height:10rem;
    margin-top: -5rem;
}

article{
    width: 100vw;
    height: 120rem;
    background-color: #0E8388;
    display: flex;
    padding-bottom: 10rem;
    padding-top:  10rem;
    flex-wrap: wrap;
    gap: 8rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
}

.box-wrapper{
    display: flex;  
    width:80rem;
    height: 30rem;
    background-color: #CBE4DE;
    border-radius: 25px;
}

footer{
    width: 100vw;
    height: 15rem;
    background-color: #2E4F4F;
}

.time{
    font-size:4rem;
}


#search{
    font-size:2.5rem;
    padding:1rem;
    border-radius:0.5rem;
    border:none;
    outline:none;
    box-shadow: 0rem 0rem 0.5rem grey;
}



.row{
    display:flex;
    align-items: center; 
    align-content: center;
    justify-content: center;
    width: 100rem;
    margin: 1rem;
    font-size:4rem;
    color:white;
}


.dateWrapper{
    background-color: red;
    border-radius: 20px;
}

.dateBox{
    width: 50%;
    background-color: #CBE4DE;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}
.boxLeft{
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
}
.boxLeft > h2{
    font-size: 10rem;
    position: relative;
    left: 15%;
    color: #0E8388;
}
.boxRight{
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #2E4F4F;
}
.dateHeader{
    width: 100%;
    background-color: #CBE4DE;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 18px;
}
.dateHeader > h2{
    font-size: 4rem;
    color: #2E4F4F;
}

.timeValue{
    font-size: 12rem;
    position: relative;
    left: 12%;
    top: 12%;
    color: #CBE4DE;
}   